.visual__list {
  height: 100vh;
  width: 100%;
}
.visual__list li {
  height: 100vh !important;
  width: 100%;
  background-size: cover;
  background-position: 50%;
}
.visual__list li.visual01 {
  background-image: url("../images/main/visual01.jpg");
}
.visual__list li.visual02 {
  background-image: url("../images/main/visual02.jpg");
}
.visual__list li.visual03 {
  background-image: url("../images/main/visual03.jpg");
}
.visual__list .pagination {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 3;
}
.visual__list .pagination .swiper-pagination-bullet {
  opacity: 1;
  width: 12px;
  height: 12px;
  background-color: #fff;
}
.visual__list .pagination .swiper-pagination-bullet-active {
  background-color: #1580ff;
}

.visual__txt {
  position: absolute;
  top: 50%;
  color: #fff;
  z-index: 2;
  padding: 0 20px;
  word-break: keep-all;
  transform: translateY(-50%);
}
.visual__txt h3 {
  font-size: clamp(24px, 7.5vw, 48px);
  font-weight: 700;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
.visual__txt br {
  display: none;
}
.visual__txt .char {
  opacity: 0;
  transform: translateX(50px);
}

.section {
  padding: 50px 20px;
}
.section h2 {
  font-size: clamp(20px, 5vw, 36px);
  word-break: keep-all;
  line-height: 1.25;
}
.section h2 strong {
  font-weight: 700;
}
.section .btn {
  display: inline-flex;
  padding: 15px 20px;
  border: 1px solid #1580ff;
  align-items: center;
  border-radius: 5px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  color: #1580ff;
}
.section .btn--white {
  border-color: #fff;
  color: #fff;
}

p {
  font-size: 14px;
}

br {
  display: none;
}

.about__img img {
  width: 100%;
}

.products-banner a {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  display: block;
  margin-top: 30px;
}
.products-banner a img {
  width: 100%;
  aspect-ratio: 2/1;
}
.products-banner a .more {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #fff;
}
.products-banner__title {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #fff;
}
.products-banner__title h3 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.products-banner__title p {
  font-size: 20px;
}

.banner {
  color: #fff;
  background: rgb(4, 63, 189);
  background: linear-gradient(90deg, rgb(4, 63, 189) 0%, rgb(0, 31, 97) 100%);
}

.tech-banner {
  margin-top: 30px;
}
.tech-banner a {
  display: block;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.tech-banner a img {
  width: 100%;
  aspect-ratio: 3/2;
}
.tech-banner a .more {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #fff;
  font-size: 36px;
}
.tech-banner__title {
  position: absolute;
  right: 20px;
  left: 20px;
  word-break: keep-all;
  top: 20px;
  color: #fff;
}
.tech-banner__title h3 {
  font-weight: 700;
  font-size: 24px;
}

.inv {
  background-image: url("../images/main/main-investors.jpg");
  color: #fff;
}
.inv__list {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.inv__list li {
  width: calc(50% - 20px);
}
.inv__list li img {
  width: 100%;
}

.news li {
  width: 80%;
  position: relative;
}
.news li img {
  width: 100%;
  border-radius: 20px;
}
.news li .sticker {
  padding: 5px 10px;
  background-color: #f36335;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  position: absolute;
  left: 20px;
  top: 20px;
}
.news .btn {
  display: none;
}
.news__txt h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0;
}